<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://impulsevid.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <MSDeployServiceURL>impulsevid.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>impulsevid</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>$impulsevid</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="impulsevidService.Models.impulsevidContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:impserv.database.windows.net,1433;Initial Catalog=impdb;User ID=tmdev@impserv;Password=tom@1991" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="impulsevidService.Models.impulsevidContext, impulsevidService" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)impulsevidService.Models.impulsevidContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:impserv.database.windows.net,1433;Initial Catalog=impdb;User ID=tmdev@impserv;Password=tom@1991</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="impulsevidService.Models.impulsevidContext" />
  </ItemGroup>
</Project>